@import "../../../../../variables.scss";
.modal {
  // background: white;
  // border-radius: 12px;
  // box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  // padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.details-header {
  font-size: 22px;
  font-weight: bold;
  // color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.details-student-name {
  font-size: 18px;
  // color: #555;
  text-align: center;
  margin-bottom: 10px;
}

.detailts-content h3,
.dat-from-to h4 {
  font-size: 16px;
  font-weight: 500;
  // color: #444;
  opacity: 0.9;
  margin: 5px 0;
}

.details-description {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  color: #393838;
  margin-top: 10px;
}

.details-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  background: $primary-color;
  color: $primary-color-text;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  margin-top: 15px;
}

.img-contact {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.appointment-edition {
  margin-top: 20px;
  background: $primary-color;
  color: $primary-color-text;
  padding: 15px;
  border-radius: 10px;
}

.price,
.reduction {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  h3 {
    min-width: 50%;
  }
}

input[pinput] {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px;
  background-color: $primary-color;
  width: 50%;
  color: $primary-color-text;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

footer h2 {
  font-size: 18px;
  font-weight: bold;
  color: #d9534f;
  margin-bottom: 10px;
}

.control {
  display: flex;
  justify-content: center;
  gap: 10px;
}

p-button {
  min-width: 140px;
  font-weight: bold;
}
