.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container-img-forgot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .time-control,
    .price-reduction {
      display: flex;
      gap: 10px;
      margin: 0 auto;
    }
  }
  .control {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
}
h2,
h3,
h4 {
  padding: 0;
  margin: 10px 0;
}

.error {
  margin-top: 5px;
  font-size: 10px;
  color: red;
}
