.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container-img-forgot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .control {
    display: flex;
    gap: 10px;
  }
}
