@import "../../../../variables.scss";

.exposed-field {
  display: flex;
  align-items: center;
  border-radius: 2px;

  .key {
    width: 25%;
    height: 1.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .value {
    width: 75%;
    height: 2rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.primary {
  color: $text-color;
  background-color: $surface-b;
}
.secondary {
  color: $secondary-color-text;
  background-color: $surface-c;
}
