<p-menubar [model]="items()" class="main" [style]="{ height: '54px' }">
  <ng-template pTemplate="item" let-item let-root="root">
    <a pRipple class="p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
      <span
        *ngIf="item.shortcut"
        class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
        >{{ item.shortcut }}</span
      >
      <i
        *ngIf="item.items"
        [ngClass]="[
          'pi',
          root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
        ]"
      ></i>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="search-avatar">
      <app-theme-selector></app-theme-selector>
      <span>
        <i
          class="pi pi-shopping-cart"
          style="color: var(--primary-color); font-size: 1.5rem; margin: 0 10px"
        >
          <span class="item-number">2</span></i
        >
      </span>
      <span>
        <i
          class="pi pi-bell text-3xl"
          style="color: var(--primary-color); font-size: 1.5rem; margin: 0 10px"
        >
          <p-badge value="2" severity="danger"></p-badge>
        </i>
      </span>

      <div class="card flex justify-content-center">
        <p-menu #menu [model]="userItems()" [popup]="true">
          <ng-template pTemplate="item" let-item let-root="root">
            <a pRipple class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label | titlecase }}</span>
              <span
                *ngIf="item.shortcut"
                class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
                >{{ item.shortcut }}</span
              >
              <i
                *ngIf="item.items"
                [ngClass]="[
                  'pi',
                  root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
                ]"
              ></i>
            </a>
          </ng-template>
        </p-menu>
        <button (click)="menu.toggle($event)" ngClass="invisible-button">
          <p-avatar
            *ngIf="userConnected().email"
            [image]="userConnected().imgUrl"
            shape="circle"
          />
          <i *ngIf="!userConnected().email" [ngClass]="['pi pi-user']"></i>
        </button>
      </div>
    </div>
  </ng-template>
</p-menubar>
