<div class="card-skill" *ngIf="formation">
  <div class="card-skill-body">
    <p-button [style]="{ height: '120px' }">
      <i class="pi pi-address-book image-button"> </i>
    </p-button>
    <div class="details">
      <p class="title">{{ formation.title }}</p>
      <div>
        <p class="city">
          {{ formation.company | uppercase }} - {{ formation.city | uppercase }}
        </p>
      </div>
      <div class="date-place">
        <p>
          {{ formation.startAt | date : " mm/yyyy" }} -
          {{ formation.endAt | date : " mm/yyyy" }} à
          {{ formation.city | titlecase }}
        </p>
      </div>
    </div>
  </div>
  <div class="card-skill-control" *ngIf="editModeOn">
    <button (click)="showEditForm()">
      <i class="pi pi-pen-to-square left-i"> </i>
    </button>
    <button (click)="showPopUpDelete()">
      <i class="pi pi-delete-left left-i"> </i>
    </button>
  </div>
</div>

<p-sidebar
  (onHide)="hideEditForm()"
  *ngIf="isVisibleFormEditCourse"
  [(visible)]="isVisibleFormEditCourse"
  position="right"
  [style]="{
    width: '50vw'
  }"
>
  <app-modal-edit-formation
    [updateOrAdd]="'update'"
    [formationTochange]="formation"
    (actionEmitter)="hideEditForm()"
  ></app-modal-edit-formation>
</p-sidebar>

<app-modal-validate
  question="Vous voulez supprimer cette formation?"
  [visible]="popupDeleteVisible"
  (onCancel)="hidePopUpDelete()"
  (onValidate)="deleteFormation()"
></app-modal-validate>
