.main {
  display: flex;
  align-items: center;

  img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
  }
  div.layout-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 1rem;
    overflow-y: auto;
  }
}

@media screen and (width < 990px) {
  .main {
    img {
      display: none;
    }
    div.layout-main {
      width: 90%;
      margin: 0 auto;
    }
  }
}
