<!-- <app-navbar></app-navbar> -->
<div class="container-app">
  <div class="sidebar-left">
    <div class="profile-image">
      <img [src]="UserToshow().imgUrl" alt="profile image" />
    </div>
    <div class="details">
      <h3>Qui je suis?</h3>
      <span class="resume-perso"
        >{{ UserToshow().firstName | titlecase }}
        {{ UserToshow().lastName | titlecase }}</span
      >
      <span class="resume-perso">Acteur</span>
      <span class="resume-perso">{{
        UserToshow().dateOfBirth | dobToAge
      }}</span>
    </div>
  </div>

  <article class="main-article scrollbar-off">
    <router-outlet></router-outlet>
  </article>
</div>
