<app-navbar></app-navbar>
<div class="container">
  <div class="sidebar-left">
    <div class="profile-image">
      <img [src]="userConnected().imgUrl" alt="profile image" />
    </div>
    <div class="details">
      <h3>Qui je suis?</h3>
      <span class="resume-perso"
        >{{ userConnected().firstName | titlecase }}
        {{ userConnected().lastName | titlecase }}</span
      >
      <span class="resume-perso">Acteur</span>
      <span class="resume-perso">{{
        userConnected().dateOfBirth | dobToAge
      }}</span>
    </div>
  </div>
  <article class="main-article scrollbar-off">
    <header class="presentation">
      <h1 class="title">
        {{ userConnected().firstName | titlecase }}
        {{ userConnected().lastName | titlecase }}
      </h1>
      <h2 class="fonction">{{ userConnected().title }}</h2>
    </header>
    <div class="outlet">
      <nav class="navbar-outlet">
        <app-outlet-navbar></app-outlet-navbar>
      </nav>
      <div class="body-outlet">
        <div class="page-outlet">
          <router-outlet></router-outlet>
        </div>
        <div class="notifications">
          <p-fieldset legend="Notifications">
            <div class="list-notifications">
              <app-notification></app-notification>
              <app-notification></app-notification>
              <app-notification></app-notification>
            </div>
          </p-fieldset>
        </div>
      </div>
    </div>
  </article>
</div>
