<div class="container">
  <div class="sidebar-left">
    <div class="profile-image">
      <img src="https://placehold.co/300x200" alt="profile image" />
    </div>
    <div class="details">
      <h3>Qui je suis?</h3>
      <span class="resume-perso">Johnny Sins</span>
      <span class="resume-perso">Acteur</span>
      <span class="resume-perso">32 ans</span>
    </div>
  </div>
  <article class="main">
    <header class="presentation">
      <h1 class="title">Johnny Sins</h1>
      <h2 class="fonction">Acteur chez Github</h2>
    </header>
    <main class="outlet">
      <nav class="navbar-outlet">
        <app-outlet-navbar></app-outlet-navbar>
      </nav>
      <div class="body-outlet">
        <div class="main">
          <router-outlet></router-outlet>
        </div>
        <div class="notifications">
          <h3>Notifications</h3>
        </div>
      </div>
    </main>
  </article>
</div>
