<div class="container">
  <div class="sidebar-left">
    <div class="profile-image">
      <img src="https://placehold.co/300x200" alt="profile image" />
    </div>
    <div class="details">
      <h3>Qui je suis?</h3>
      <span class="resume-perso">Johnny Sins</span>
      <span class="resume-perso">Acteur</span>
      <span class="resume-perso">32 ans</span>
    </div>
  </div>
  <article class="main">
    <header class="presentation">
      <h1 class="title">Johnny Sins</h1>
      <h2 class="fonction">Acteur chez Github</h2>
    </header>
    <main class="outlet">
      <nav class="navbar-outlet">
        <div class="card">
          <app-outlet-navbar></app-outlet-navbar>
        </div>
      </nav>
      <div class="body-outlet">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi totam
        natus sit asperiores! Eum debitis, magnam, repellendus, possimus minus
        asperiores suscipit quas perferendis cumque incidunt vitae. Voluptates
        ut iusto facilis! Exercitationem voluptatum error harum eligendi
        doloremque. Facilis dolor quis nisi fuga, aliquid laborum quo
        distinctio, facere animi ipsam repellendus sed, alias quaerat unde
        minima tempora? Suscipit id quis accusantium dicta? Modi totam voluptate
        consequuntur deleniti amet quos, tenetur, quisquam ullam eos ab aperiam
        doloremque id aspernatur aliquid a quae qui. Ea totam expedita eos
        asperiores, aut veniam animi distinctio blanditiis. Laudantium
        similique, ratione, quas ipsa officiis recusandae odit labore modi,
        numquam minima illum cumque. Sequi dolores, aliquid aperiam ipsum
        tenetur ut vero rerum, consectetur dicta tempora, aliquam itaque officia
        optio. Suscipit, cumque quaerat sint rem, commodi voluptatum iste facere
        aliquam nemo repellendus natus. Animi, quasi eveniet! Dignissimos autem,
        optio possimus alias aut minus, accusantium recusandae beatae, nam iusto
        magnam modi.
      </div>
    </main>
  </article>
</div>
