<div class="list-info">
  <div class="nom-prenom-age-genre">
    <p-button label="Editer"></p-button>
    <app-line-binary-data
      [key]="'Nom'"
      [value]="fullName() | titlecase"
      [order]="false"
    ></app-line-binary-data>
    <app-line-binary-data
      [key]="'Age'"
      [value]="'' + (userConnected().dateOfBirth | dobToAge)"
      [order]="true"
    ></app-line-binary-data>
    <app-line-binary-data
      [key]="'Genre'"
      [value]="userConnected().gender | genderTransform"
      [order]="false"
    ></app-line-binary-data>
  </div>
  <div class="image">
    <img [src]="userConnected().imgUrl" width="200" height="200" alt="" />
  </div>
</div>

<p-fieldset [legend]="'Formations'">
  <p-button
    [icon]="'pi pi-plus'"
    (onClick)="showModalEditFormation()"
  ></p-button>
  <p-divider></p-divider>
  <div class="formations">
    <app-formation
      *ngFor="let formation of listFormations()"
      [editModeOn]="true"
      [formation]="formation"
    ></app-formation>
  </div>
</p-fieldset>

<p-sidebar
  (onHide)="hideAddForm()"
  *ngIf="isVisibleModalAddFormation"
  [(visible)]="isVisibleModalAddFormation"
  position="right"
  [style]="{
    width: '50vw'
  }"
>
  <app-modal-edit-formation
    (actionEmitter)="hideAddForm()"
    [updateOrAdd]="'add'"
  ></app-modal-edit-formation>
</p-sidebar>
