.list-info {
  display: flex;
  gap: 5px;
  width: 100%;
  align-items: center;
  .nom-prenom-age-genre {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
  }
  .image {
    // image centered
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
  }
}
.formations {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 990px) {
  .list-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
    .nom-prenom-age-genre {
      width: 100%;
    }
    .image {
    }
  }
}
.legend-fieldset {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
