<div class="list-info">
  <div class="nom-prenom-age-genre">
    <p-button label="Editer"></p-button>
    <app-line-binary-data
      [key]="'Nom'"
      [value]="fullName() | titlecase"
      [order]="false"
    ></app-line-binary-data>
    <app-line-binary-data
      [key]="'Age'"
      [value]="'' + (userConnected().dateOfBirth | dobToAge)"
      [order]="true"
    ></app-line-binary-data>
    <app-line-binary-data
      [key]="'Genre'"
      [value]="userConnected().gender | genderTransform"
      [order]="false"
    ></app-line-binary-data>
  </div>
  <div class="image">
    <img [src]="userConnected().imgUrl" width="200" height="200" alt="" />
  </div>
</div>

<p-fieldset [legend]="'Formations'">
  <p-button [icon]="'pi pi-plus'"></p-button>
  <p-divider></p-divider>
  <div class="formations">
    <app-formation [editModeOn]="true" [formation]="formation1"></app-formation>
    <app-formation [editModeOn]="true" [formation]="formation2"></app-formation>
  </div>
</p-fieldset>
