@import "../../../../../variables.scss";

.upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  input[type="file"] {
    display: none;
  }

  img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
  }
}
