.control {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .float {
    width: 90%;
    .input-field {
      margin-top: 10px;
      height: 2.5rem;
      border-radius: 5px;
      flex-grow: 5;
      width: 100%;
    }
  }
}

.error {
  color: var(--red-800);
}
.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}
