<form
  *ngIf="!canChange()"
  [formGroup]="userForm"
  class="form"
  (ngSubmit)="userForm.valid && submit()"
  #form="ngForm"
>
  <h2 class="title">Veuillez entrer vos données personnelles</h2>

  <div class="float">
    <label for="email">Email</label>
    <input pInputText id="email" formControlName="email" class="input-field" />
  </div>
  <div
    class="error"
    *ngIf="form.submitted && userForm.controls['email'].errors"
  >
    <div
      class="error"
      [hidden]="!userForm.controls['email'].errors['required']"
    >
      L'email est requis
    </div>
    <div class="error" [hidden]="!userForm.controls['email'].errors['email']">
      verifier le format de l'email
    </div>
  </div>

  <div class="control">
    <p-button label="Annuler" severity="danger" />

    <p-button
      [type]="'submit'"
      label="Valider"
      icon="pi pi-check"
      iconPos="right"
      color=""
      severity="primary"
    />
  </div>
</form>
<h1 *ngIf="canChange()">{{ message() }}</h1>
