<form
  [formGroup]="userForm"
  class="form"
  (ngSubmit)="userForm.valid && submit()"
  #form="ngForm"
>
  <h2 class="title">Veuillez entrer vos données personnelles</h2>
  <div class="float">
    <label for="firstName">Prénom<span class="asterix">*</span></label>
    <input
      pInputText
      id="firstName"
      formControlName="firstName"
      class="input-field"
    />
  </div>
  <div
    class="error"
    *ngIf="form.submitted && userForm.controls['firstName'].errors"
  >
    <div [hidden]="!userForm.controls['firstName'].errors['required']">
      Le prénom est requis
    </div>
  </div>
  <div class="float">
    <label for="lastName">Nom<span class="asterix">*</span></label>
    <input
      pInputText
      id="lastName"
      formControlName="lastName"
      class="input-field"
    />
  </div>
  <div
    class="error"
    *ngIf="form.submitted && userForm.controls['lastName'].errors"
  >
    <div [hidden]="!userForm.controls['lastName'].errors['required']">
      Le nom est requis
    </div>
  </div>
  <div class="float">
    <label for="email">Email<span class="asterix">*</span></label>
    <input pInputText id="email" formControlName="email" class="input-field" />
  </div>
  <div
    class="error"
    *ngIf="form.submitted && userForm.controls['email'].errors"
  >
    <div
      class="error"
      [hidden]="!userForm.controls['email'].errors['required']"
    >
      L'email est requis
    </div>
    <div class="error" [hidden]="!userForm.controls['email'].errors['email']">
      verifier le format de l'email
    </div>
  </div>
  <div class="float">
    <label for="password">Mot de passe<span class="asterix">*</span></label>
    <input
      pInputText
      id="password"
      formControlName="password"
      class="input-field"
      type="password"
    />
  </div>
  <div
    class="error"
    *ngIf="form.submitted && userForm.controls['password'].errors"
  >
    <div [hidden]="!userForm.controls['password'].errors['required']">
      Le mot de passe est requis
    </div>
    <div [hidden]="!userForm.controls['password'].errors['minlength']">
      Le mot de passe doit avoir au moins 8 caractères
    </div>
  </div>
  <div
    class="error"
    *ngIf="form.submitted && userForm.errors?.['passwordDifference']"
  >
    les mots de passe sont différents
  </div>
  <div
    class="error"
    *ngIf="form.submitted && userForm.errors?.['weakPassword']"
  >
    le mot de passe est faibles
  </div>
  <div class="float">
    <label for="confirmPassword"
      >confirmer Mot de passe<span class="asterix">*</span></label
    >
    <input
      pInputText
      id="confirmPassword"
      formControlName="confirmPassword"
      class="input-field"
      type="password"
    />
  </div>

  <div class="float">
    <label for="password">Numéro de téléphone (facultatif)</label>
    <input
      pInputText
      id="phoneNumber"
      formControlName="phoneNumber"
      class="input-field"
      type="text"
    />
  </div>

  <div class="double-field">
    <label for="dateOfBirth" class="half-label"
      >Date de naissance<span class="asterix">*</span></label
    >
    <p-calendar
      id="dateOfBirth"
      dateFormat="dd/mm/yy"
      formControlName="dateOfBirth"
      [styleClass]="'dropdown'"
    />
  </div>
  <div
    class="error"
    *ngIf="form.submitted && userForm.controls['dateOfBirth'].errors"
  >
    <div [hidden]="!userForm.controls['dateOfBirth'].errors['required']">
      Ce champs est obligatoire
    </div>
  </div>
  <div class="double-field">
    <label for="gender" class="half-label"
      >Genre<span class="asterix">*</span></label
    >
    <p-dropdown
      id="gender"
      [options]="typesGenderList"
      formControlName="gender"
      variant="filled"
      optionLabel="name"
      placeholder="Votre genre"
      [styleClass]="'dropdown'"
    />
  </div>
  <div
    class="error"
    *ngIf="form.submitted && userForm.controls['gender'].errors"
  >
    <div [hidden]="!userForm.controls['gender'].errors['required']">
      Ce champs est obligatoire
    </div>
  </div>

  <div class="control">
    <p-button
      [type]="'submit'"
      label="Validez"
      icon="pi pi-check"
      iconPos="right"
      color=""
      severity="primary"
    />
  </div>
  <div class="register-forgot">
    <p-button
      label="Vous avez déjà un compte?"
      [link]="true"
      [routerLink]="'/auth/login'"
    />
  </div>
</form>
