@import "../../../../../variables.scss";
.control {
  display: flex;
  gap: 10px;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  gap: 2rem;
  .float {
    width: 90%;
    .input-field {
      margin-top: 10px;
      height: 2.5rem;
      border-radius: 5px;
      flex-grow: 5;
      width: 100%;
    }
  }
  .double-field {
    width: 90%;
    display: flex;
    gap: 10px;
    .half-label {
      width: 50%;
    }
  }
}

.error {
  color: var(--red-800);
}

.asterix {
  color: red;
}

@media screen and (width < 990px) {
  .form {
    .double-field {
      width: 90%;
      display: flex;
      flex-direction: column;
      .half-label {
        width: 100%;
      }
    }
  }
}
