<article class="main-article scrollbar-off">
  <header class="presentation">
    <h1 class="title">
      {{ userToDisplay().firstName | titlecase }}
      {{ userToDisplay().lastName | titlecase }}
    </h1>
    <h2 class="fonction">{{ userToDisplay().title }}</h2>
  </header>

  <div class="outlet">
    <!-- <nav class="navbar-outlet">
        <app-outlet-navbar></app-outlet-navbar>
      </nav> -->
    <div class="body-outlet">
      <div class="page-outlet">
        <!-- <router-outlet></router-outlet> -->
        <app-personnal-infos
          [userToDisplay]="userToDisplay"
        ></app-personnal-infos>
      </div>
      <div class="notifications">
        <p-fieldset>
          <ng-template pTemplate="header">
            <div class="flex items-center gap-2 p-2 mx-6">
              <span class="font-bold">Notifications</span>
            </div>
          </ng-template>

          <app-notifications-carousel></app-notifications-carousel>
        </p-fieldset>
      </div>
    </div>
  </div>
</article>
