<article class="main-article scrollbar-off">
  <header class="presentation">
    <h1 class="title">
      {{ userToDisplay().firstName | titlecase }}
      {{ userToDisplay().lastName | titlecase }}
    </h1>
    <h2 class="fonction">{{ userToDisplay().title }}</h2>
  </header>
  <div class="outlet">
    <!-- <nav class="navbar-outlet">
        <app-outlet-navbar></app-outlet-navbar>
      </nav> -->
    <div class="body-outlet">
      <div class="page-outlet">
        <!-- <router-outlet></router-outlet> -->
        <app-personnal-infos
          [userToDisplay]="userToDisplay"
        ></app-personnal-infos>
      </div>
      <div class="notifications">
        <p-fieldset legend="Notifications">
          <div class="list-notifications">
            <app-notification></app-notification>
            <app-notification></app-notification>
            <app-notification></app-notification>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>
</article>
