<p-fieldset [legend]="'Liste d\'adresses'">
  <p-button [icon]="'pi pi-plus'" (onClick)="openModalAdd()"></p-button>
  <p-divider></p-divider>
  <div class="list-adresses">
    <app-addresse
      *ngFor="let adresse of adressesList()"
      [adresse]="adresse"
      [editModeOn]="true"
    ></app-addresse>
  </div>
</p-fieldset>

<p-sidebar
  (onHide)="hideAddForm()"
  *ngIf="isVisibleFormAddAdress"
  [(visible)]="isVisibleFormAddAdress"
  position="right"
  [style]="{
    width: '50vw'
  }"
>
  <app-modal-edit-adresse
    (actionEmitter)="hideAddForm()"
    [updateOrAdd]="'add'"
  ></app-modal-edit-adresse>
</p-sidebar>
