@import "primeicons/primeicons.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1680px;
  margin: 0 auto;
}

.scrollbar-off {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
