@layer tailwind-base, primeng, tailwind-utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";
@import "./variables.scss";

// $primary-color: var(--primary-color);
// $primary-color-text: var(--primary-color-text);
// $secondary-color: var(--surface-b);
// $secondary-color-text: var(--text-color-secondary);
// $accent-color: var(--primaryDark);
// $text-color: var(
//   --text-color
// ); // fonctionne avec surface et proche de $secondary-color-text
// $padding: 16px;
$surface-a: var(--surface-a);
// $surface-b: var(--surface-b);
// $surface-c: var(--surface-c);
// $surface-d: var(--surface-d);
// $surface-e: var(--surface-e);
// $surface-f: var(--surface-f);

html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.scrollbar-off {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
}
.dropdown {
  min-width: 100%;
  height: 2.5rem;
}
// buttons
.p-button-primary {
  outline: 2px solid $primary-color;
  padding: 4px;
}
.p-button-secondary {
  outline: 2px solid $secondary-color-text;
  padding: 4px;
}

.p-button-cancel {
  outline: 2px solid $secondary-color-text;
  padding: 4px;
}
.p-button-success {
  outline: 2px solid $primary-color;
  padding: 4px;
}
.p-button-warning {
  outline: 2px solid $surface-a;
  padding: 4px;
}
.p-button-info {
  outline: 2px solid $surface-a;
  padding: 4px;
}

// inputs
.p-calendar .p-inputtext {
  padding-left: 6px;
}

.p-dropdown {
  width: 100%;
  .p-dropdown-label {
    padding-left: 6px;
  }
}
.input {
  outline-width: 2px;
}
