<div class="control">
  <div class="mode">
    <p-button (onClick)="dayView()">Jour</p-button>
    <p-button (onClick)="weekView()">Semaine</p-button>
    <p-button (onClick)="monthView()">Mois</p-button>
  </div>
  <div class="navigation">
    <p-button (onClick)="getToday()">Aujourd'hui</p-button>
    <p-button (onClick)="prev()" class="control-btn" icon="pi pi-angle-left">
      <!-- <i class="pi pi-angle-left"></i> -->
      <!-- <img src="assets/svgs/left.svg" alt="" width="35" height="35" /> -->
    </p-button>
    <p-button (onClick)="next()" class="control-btn" icon="pi pi-angle-right">
      <!-- <i class="pi pi-angle-right"></i> -->
      <!-- <img src="assets/svgs/right.svg" alt="" width="35" height="35" /> -->
    </p-button>
  </div>
</div>
<full-calendar [options]="calendarOptions" #calendar [events]="visibleEvents()">
</full-calendar>

<app-modal-create-appoitment
  *ngIf="isVisibleModalCreate"
  [appoitment]="selectedSlot"
  [visible]="isVisibleModalCreate"
  (actionEmitter)="hideCreateModal()"
></app-modal-create-appoitment>

<app-modal-delete-appointment
  *ngIf="isVisibleModalDelete"
  [appoitment]="selectedAppoitment"
  [visible]="isVisibleModalDelete"
  (actionEmitter)="isVisibleModalDelete = false"
></app-modal-delete-appointment>

<app-modal-update-appointment
  *ngIf="isVisibleModalUpdate"
  [appoitment]="selectedAppoitment"
  [newSlot]="selectedSlot"
  [visible]="isVisibleModalUpdate"
  (actionEmitter)="isVisibleModalUpdate = false"
></app-modal-update-appointment>
