<div class="control">
  <div class="mode">
    <p-button class="btn-header" (onClick)="dayView()">Jour</p-button>
    <p-button class="btn-header" (onClick)="weekView()">Semaine</p-button>
    <p-button class="btn-header" (onClick)="monthView()">Mois</p-button>
  </div>
  <div class="navigation">
    <p-button (onClick)="getToday()">Aujourd'hui</p-button>
    <p-button (onClick)="prev()" class="control-btn" icon="pi pi-angle-left">
      <!-- <i class="pi pi-angle-left"></i> -->
      <!-- <img src="assets/svgs/left.svg" alt="" width="35" height="35" /> -->
    </p-button>
    <p-button (onClick)="next()" class="control-btn" icon="pi pi-angle-right">
      <!-- <i class="pi pi-angle-right"></i> -->
      <!-- <img src="assets/svgs/right.svg" alt="" width="35" height="35" /> -->
    </p-button>
  </div>
</div>
<full-calendar [options]="calendarOptions" #calendar [events]="visibleEvents()">
  <ng-template #eventContent let-arg class="custom-event">
    <div
      [ngClass]="arg.event.extendedProps?.['studentId'] ? 'custom-event booked' : 'custom-event'"
    >
      <b *ngIf="!!arg.event.title && arg.event.title != 'No title'">{{
        arg.event.title
      }}</b>
      <div *ngIf="arg.event.extendedProps?.['imgUrl']">
        <img
          [src]="arg.event.extendedProps?.['imgUrl']"
          width="50"
          height="50"
        />
      </div>
      <div *ngIf="arg.event.extendedProps?.['studentId']">
        <div class="slot-content">
          <img
            [src]="arg.event.extendedProps?.studentImgUrl"
            width="24"
            height="24"
          />
          <span>
            {{ arg.event.extendedProps?.['studentFirstName'] }}
            {{ arg.event.extendedProps?.['studentLastName'] }}
          </span>
        </div>
        <!-- <div class="sujet">
          <span>Sujet :</span>
          <span> {{ arg.event.title }} </span>
        </div> -->
        <div class="sujet">
          <span>Type :</span>
          <span> {{ arg.event.extendedProps?.['typeHelp'] | helpType }} </span>
        </div>
      </div>
      <div *ngIf="!(arg.event.extendedProps?.['studentId'])">
        <span>Créneau disponible</span>
        <div>
          Prix :
          <span
            [ngClass]="
              arg.event.extendedProps.price !=
              arg.event.extendedProps.discountedPrice
                ? 'original-price'
                : 'unique-price'
            "
            >{{ arg.event.extendedProps.price }} €</span
          >
          <span
            class="new-price"
            *ngIf="
              arg.event.extendedProps.price !=
              arg.event.extendedProps.discountedPrice
            "
            >{{ arg.event.extendedProps.discountedPrice }} €</span
          >
        </div>
      </div>
    </div>
  </ng-template>
  <!-- <ng-template #eventContent let-arg class="custom-event">
    <div
      [ngClass]="arg.event.extendedProps?.['studentId'] ? 'custom-event booked' : 'custom-event'"
    >
      <b *ngIf="!!arg.event.title && arg.event.title != 'No title'">{{
        arg.event.title
      }}</b>
      <div *ngIf="arg.event.extendedProps?.['studentId']">
        <div class="slot-content">
          <img
            [src]="arg.event.extendedProps?.studentImgUrl"
            width="24"
            height="24"
          />
          <span>
            {{ arg.event.extendedProps?.['studentFirstName'] }}
            {{ arg.event.extendedProps?.['studentLastName'] }}
          </span>
        </div>
        <div class="sujet">
          <span>Sujet :</span>
          <span> {{ arg.event.extendedProps?.['subject'] }} </span>
        </div>
      </div>
      <div *ngIf="!(arg.event.extendedProps?.['studentId'])">
        <span>Créneau disponible</span>
        <div>Prix : {{ arg.event.extendedProps.price }}</div>
      </div>
    </div>
  </ng-template> -->
</full-calendar>

<app-modal-create-appoitment
  *ngIf="isVisibleModalCreate"
  [appoitment]="selectedSlot"
  [visible]="isVisibleModalCreate"
  (actionEmitter)="hideCreateModal()"
></app-modal-create-appoitment>

<app-modal-delete-appointment
  *ngIf="isVisibleModalDelete"
  [appoitment]="selectedAppoitment"
  [visible]="isVisibleModalDelete"
  (actionEmitter)="isVisibleModalDelete = false"
></app-modal-delete-appointment>

<app-modal-update-appointment
  *ngIf="isVisibleModalUpdate"
  [appoitment]="selectedAppoitment"
  [newSlot]="selectedSlot"
  [visible]="isVisibleModalUpdate"
  (actionEmitter)="isVisibleModalUpdate = false"
></app-modal-update-appointment>
