<div class="control">
  <div class="mode">
    <p-button (onClick)="dayView()">Jour</p-button>
    <p-button (onClick)="weekView()">Semaine</p-button>
    <p-button (onClick)="monthView()">Mois</p-button>
  </div>
  <div class="navigation">
    <p-button (onClick)="getToday()">Aujourd'hui</p-button>
    <p-button (onClick)="prev()">
      <i class="pi pi-angle-left"></i>
      <!-- <img src="assets/svgs/left.svg" alt="" width="35" height="35" /> -->
    </p-button>
    <p-button (onClick)="next()">
      <i class="pi pi-angle-right"></i>
      <!-- <img src="assets/svgs/right.svg" alt="" width="35" height="35" /> -->
    </p-button>
  </div>
</div>
<full-calendar [options]="calendarOptions" #calendar [events]="events">
</full-calendar>

<app-modal-create-appoitment
  [visible]="isVisibleModalCreate"
  (actionEmitter)="hideCreateModal()"
></app-modal-create-appoitment>
