<!-- <app-navbar></app-navbar> -->

<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1>Apprenez à votre rythme, réussissez sans limites !</h1>
      <p>Réservez vos crénaux horaires pour des cours particuliers en ligne</p>
      <button class="btn btn-secondary">Réservez</button>
    </div>
    <div class="hero-image">
      <img src="assets/Education.svg" alt="Learning illustration" />
    </div>
  </div>
</section>

<section id="courses" class="courses">
  <div class="container">
    <h2>Nos Cours tendances</h2>
    <div class="course-list">
      <div class="course-card">
        <h3>Sciences</h3>
        <p>lorem epsum machin de ouf.</p>
      </div>
      <div class="course-card">
        <h3>Aide aux devoirs</h3>
        <p>lorem epsum machin de ouf.</p>
      </div>
      <div class="course-card">
        <h3>Préparations aux examens</h3>
        <p>lorem epsum machin de ouf.</p>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <p>&copy; 2024 LearnHub. All rights reserved.</p>
  </div>
</footer>
