<p-dialog
  [style]="{ width: '30rem' }"
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  (onHide)="actionEmitter.emit()"
>
  <div class="modal">
    <div class="container-img-forgot">
      <h2>Supprimer le créneau suivant</h2>
    </div>
    <div class="content">
      <h3>Date : {{ start | date : "EEEE, d MMMM y" }}</h3>

      <div class="dat-from-to">
        <h4>
          De : {{ start | date : "HH:mm" }} à : {{ end | date : "HH:mm" }}
        </h4>
      </div>
      <div class="dat-from-to"></div>
    </div>

    <div class="control" autofocus>
      <p-button
        [style]="{ minWidth: '130px' }"
        label="Annuler"
        icon="pi pi-times"
        (onClick)="cancel()"
        severity="danger"
      ></p-button>
      <p-button
        autofocus="true"
        [style]="{ minWidth: '130px' }"
        label="Modifier"
        icon="pi pi-check"
        (onClick)="validate()"
        severity="success"
      ></p-button>
    </div>
  </div>
</p-dialog>
