@import "../../../../../variables";
.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;

  .mode,
  .navigation {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.btn-header {
  outline: 2px solid $primary-color;
  border-radius: 2px;
  padding: 2px 8px;
  margin-left: 5px;
}
.custom-event {
  background-color: $primary-color;
  color: $primary-color-text;
  height: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.booked {
  border: 3px solid red;
  cursor: pointer;
}
